WALLET_PRIVATE_KEY="e432d83208d8575baf3b53b37077fca1e41e8d2e1587d127d6e43e90ed1e800ae"
RPC_PROVIDER_URL="https://aeneid.storyrpc.io"   
SPG_NFT_CONTRACT="0x61DDC190616674315641f74C17146D002A1448F6"
PINATA_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIzMDVmOTM4YS04ZmI5LTQ5NGUtYjI0ZS00ZWJhNzQ3NmIyMmYiLCJlbWFpbCI6InNhcmljay5zaGFoQHBpcGxhYnMueHl6IiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImFmM2MzYzBmZmYwZTYzZDlkMTdhIiwic2NvcGVkS2V5U2VjcmV0IjoiZDk2OGZjMDcyOTVlOTJlOTk3Njc5NDRhNmY4ZDFkOTk2YjZmOTIzMDlhYzZmOTZkMzU3MmUzMDE5ZWQ5MGE2YiIsImV4cCI6MTc3MTcyNDMxNn0.CcttrOQKub2ojs8NAsi6SuwJlRuZpnwp29JwmqaYUoo"